<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% if ua_check %}<meta name="viewport" content="width=580px;target-densitydpi=high-dpi" />{% endif %}
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>武蔵小山検定 2012初級</title>
<link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
{% if ua_check %}<link href="/sp.css" media="screen" rel="stylesheet" type="text/css" />{% endif %}
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		var current_q = 1;
		var next_q = 2;
		$('#q1').fadeIn();
		$('input:radio').change(function() {
			$(this).parents('.answers').children('ul').fadeOut();
			$(this).parents('.answers').children('.hideNote').addClass('a'+$(this).val());
			$(this).parents('.answers').children('.hideNote').fadeIn('normal', function() {
				$(this).parents('.qaBox').children('.navi').show();
			});
		});
		$('.navi img').click(function() {
			if (current_q == 5) {
				document.f.submit();
			}
			$('#q'+current_q).hide();
			$('#q'+next_q).fadeIn();
			current_q++;
			next_q++;
		});
	});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12551696-14']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="header">
	<h1><span>武蔵小山検定 2012初級</span></h1>
</div>
<div id="container">
	<div class="first">
		<h2><span>問題は7問まであるよ。すべて3択で答えてね。</span></h2>
		<form name="f" method="post" action="/break">
			<input type="hidden" name="check" value="1" />
			<div class="qaBox" id="q1" style="display: none;">
				<div class="qNum"><img src="/q1.png" alt="Q1" /></div>
				<div class="question">
					<p>武蔵小山商店街振興組合（愛称：パルム）は、東京都内では最長のアーケードを誇ります。さて、そのアーケードの長さはおよそ何メートルでしょう？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q1" value="1" /> 635メートル</li>
						<li><input type="radio" name="q1" value="2" /> 800メートル</li>
						<li><input type="radio" name="q1" value="3" /> 900メートル</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>800メートル</strong></p>
						<p>完成当時は東洋一とも言われていたそうです。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q2" style="display: none;">
				<div class="qNum"><img src="/q2.png" alt="Q2" /></div>
				<div class="question">
					<p>武蔵小山住民の憩いの場、「りんしのもり公園」は、昔はどのような施設だったでしょうか？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q2" value="1" /> 林野庁の「林業試験場」</li>
						<li><input type="radio" name="q2" value="2" /> 農林水産省の「蚕糸試験場」</li>
						<li><input type="radio" name="q2" value="3" /> 厚生省の「臨死体験研究所」</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>林野庁の「林業試験場」</strong></p>
						<p>林業試験場がつくば市に移転したことに伴い、公園として整備され、1989年6月1日に「都立林試の森公園」として開園しました。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q3" style="display: none;">
				<div class="qNum"><img src="/q3.png" alt="Q3" /></div>
				<div class="question">
					<p>毎年9月第1週の土日に開催される、三谷八幡神社（武蔵小山）と小山八幡神社（西小山）のお祭りの名前は何でしょう？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q3" value="1" /> 荏原祭	</li>
						<li><input type="radio" name="q3" value="2" /> 平塚祭</li>
						<li><input type="radio" name="q3" value="3" /> 両社祭</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>両社祭</strong></p>
						<p>2つの神社のお祭りなので「両社祭」なんですね。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q4" style="display: none;">
				<div class="qNum"><img src="/q4.png" alt="Q4" /></div>
				<div class="question">
					<p>現在の東急目黒線の以前の名称は何でしょう？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q4" value="1" /> 東急荏原線</li>
						<li><input type="radio" name="q4" value="2" /> 目黒蒲田電鉄目黒線</li>
						<li><input type="radio" name="q4" value="3" /> 東急目蒲線</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>東急目蒲線</strong></p>
						<p>1980年代に少し話題になった「<a href="http://www.youtube.com/watch?v=Kp8-arLEql0" target="_blank">目蒲線物語</a>」という歌もありましたね。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q5" style="display: none;">
				<div class="qNum"><img src="/q5.png" alt="Q5" /></div>
				<div class="question">
					<p>ムサコフェスティバル（ムサコフェス）のマスコットキャラクター「たけ丸」の職業（肩書き）は？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q5" value="1" /> ニンジャ</li>
						<li><input type="radio" name="q5" value="2" /> サムライ</li>
						<li><input type="radio" name="q5" value="3" /> スモウレスラー</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<div class="figure"><img src="/takemaru.png" alt="たけ丸" /></div>
						<p>正解は、<strong>サムライ</strong></p>
						<p>たけ丸には「ちょんまげ」があります。お相撲さんではなくサムライの「ちょんまげ」なんです。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
		</form>
	</div>
</div>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
	FB.Canvas.setAutoGrow();
};
(function() {
	var e = document.createElement('script');
	e.type = 'text/javascript';
	e.src = document.location.protocol + '//connect.facebook.net/ja_JP/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
}());
</script>
</body>
</html>
