<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% if ua_check %}<meta name="viewport" content="width=580px;target-densitydpi=high-dpi" />{% endif %}
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>武蔵小山検定 2012初級</title>
<link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
{% if ua_check %}<link href="/sp.css" media="screen" rel="stylesheet" type="text/css" />{% endif %}
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		var current_q = 1;
		var next_q = 2;
		$('#q1').fadeIn();
		$('input:radio').change(function() {
			$(this).parents('.answers').children('ul').fadeOut();
			$(this).parents('.answers').children('.hideNote').addClass('a'+$(this).val());
			$(this).parents('.answers').children('.hideNote').fadeIn('normal', function() {
				$(this).parents('.qaBox').children('.navi').show();
			});
		});
		$('.navi img').click(function() {
			if (current_q == 5) {
				document.f.submit();
			}
			$('#q'+current_q).hide();
			$('#q'+next_q).fadeIn();
			current_q++;
			next_q++;
		});
	});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12551696-14']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="header">
	<h1><span>武蔵小山検定 2012初級</span></h1>
</div>
<div id="container">
	<div class="first">
		<h2><span>問題は7問まであるよ。すべて3択で答えてね。</span></h2>
		<form name="f" method="post" action="/break">
			<input type="hidden" name="check" value="1" />
			<div class="qaBox" id="q1" style="display: none;">
				<div class="qNum"><img src="/q1.png" alt="Q1" /></div>
				<div class="question">
					<p>武蔵小山が位置する武蔵野台地の東端にあたる、ほぼ標高が30メートル前後の台地の名前は？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q1" value="1" /> 小山台地</li>
						<li><input type="radio" name="q1" value="2" /> 荏原台地</li>
						<li><input type="radio" name="q1" value="3" /> 平塚台地</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>荏原台地</strong></p>
						<p>小山台という地名があるので、小山台地と思った人も多いのでは？</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q2" style="display: none;">
				<div class="qNum"><img src="/q2.png" alt="Q2" /></div>
				<div class="question">
					<p>武蔵小山は商店街が有名ですが、武蔵小山にはいくつの商店街が存在する？<p>
					<p class="note">2012年4月から5月にかけて開催されたムサコフェスティバル（ムサコフェス）に参加した商店街数をお答えください。</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q2" value="1" /> 5つ</li>
						<li><input type="radio" name="q2" value="2" /> 6つ</li>
						<li><input type="radio" name="q2" value="3" /> 7つ</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>7つ</strong></p>
						<p>武蔵小山商店街振興組合、武蔵小山西口商店街振興組合、小山26号通り振興会、武蔵小山一番通り商栄会、親友会通り商店街（後地商店連合会）、富士見通り睦会（後地商店連合会）、京栄会（後地商店連合会）の7つの商店街があります。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q3" style="display: none;">
				<div class="qNum"><img src="/q3.png" alt="Q3" /></div>
				<div class="question">
					<p>ムサコフェスティバル（ムサコフェス）のマスコットキャラクター「たけ丸」の職業（肩書き）は？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q3" value="1" /> ニンジャ</li>
						<li><input type="radio" name="q3" value="2" /> サムライ</li>
						<li><input type="radio" name="q3" value="3" /> スモウレスラー</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<div class="figure"><img src="/takemaru.png" alt="たけ丸" /></div>
						<p>正解は、<strong>サムライ</strong></p>
						<p>たけ丸には「ちょんまげ」があります。お相撲さんではなくサムライの「ちょんまげ」なんです。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q4" style="display: none;">
				<div class="qNum"><img src="/q4.png" alt="Q4" /></div>
				<div class="question">
					<p>武蔵小山商店街振興組合（愛称：パルム）は、東京都内では最長のアーケードを誇ります。さて、アーケードの長さはおよそ何メートル？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q4" value="1" /> 635メートル</li>
						<li><input type="radio" name="q4" value="2" /> 800メートル</li>
						<li><input type="radio" name="q4" value="3" /> 900メートル</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>800メートル</strong></p>
						<p>完成当時は東洋一とも言われていたそうです。</p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
			<div class="qaBox" id="q5" style="display: none;">
				<div class="qNum"><img src="/q5.png" alt="Q5" /></div>
				<div class="question">
					<p>東急電鉄の発表による2011年度の武蔵小山駅の1日の平均乗降人員は、およそ何人？</p>
				</div>
				<div class="answers">
					<ul>
						<li><input type="radio" name="q5" value="1" /> 2万7900人</li>
						<li><input type="radio" name="q5" value="2" /> 3万3700人</li>
						<li><input type="radio" name="q5" value="3" /> 4万6700人</li>
					</ul>
					<div class="hideNote" style="display: none;">
						<p>正解は、<strong>4万6700人</strong></p>
						<p>正確には46,733名で、2010年度にくらべ1.5%の増加です。</p>
						<p>&raquo; <a href="http://www.tokyu.co.jp/railway/railway/west/gaiyou/joukou.html" target="_blank">参考</a></p>
					</div>
				</div>
				<div class="navi" style="display: none;"><img src="/btn_nextq.png" alt="次のQへ" /></div>
			</div>
		</form>
	</div>
</div>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
	FB.Canvas.setAutoGrow();
};
(function() {
	var e = document.createElement('script');
	e.type = 'text/javascript';
	e.src = document.location.protocol + '//connect.facebook.net/ja_JP/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
}());
</script>
</body>
</html>
